#left-menu ul{
	width: 180px;
	}

#left-menu ul li {
		width: 180px;
position: relative;
	}
#left-menu ul li:hover {
	z-index: 100;

	}

#left-menu li ul {
	position: absolute;
	left: 180px;
	top: 0px;
	display: none;
	}

#left-menu li ul ul{
	position: absolute;
	left: 180px;
	top: 0px;
	display: none;
	width:100%;
	}

#left-menu li ul ul ul{
	position: absolute;
	left: 180px;
	top: 0px;
	display: none;
	width:180px;
	}

#left-menu li: hover ul {
	display: block;
	width: 180px;
	}

#left-menu ul.men_l,ul.men2_l,ul.men3_l,ul.men4_1  {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 180px;
	}
ul.men2_l,ul.men3_l,ul.men4_1  {
	border-bottom: 1px solid #fff;
	}

#left-menu li:hover ul ul,
#left-menu li li:hover ul ul,
#left-menu li li li:hover ul ul,
#left-menu li li li li:hover ul ul
#left-menu li li li li li:hover ul ul
{display:none;}

#left-menu li:hover ul,
#left-menu li li:hover ul,
#left-menu li li li:hover ul,
#left-menu li li li li:hover ul
#left-menu li li li li li:hover ul
{display:block;}

li.m_l a,li.m2_l a,li.m3_l a,li.m_4 a,li.m_l_over a,li.m2_l_over a,li.m3_l_over a,li.m_4_over a  {
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 3px;
	padding-left: 7px;
	font-weight: bold;
	border-top: 1px solid #6197ED;
	border-bottom: 1px solid #6197ED;
	}
li.m_l a{
	background-color: #6197ED;	}
li.m_l a:hover  {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
li.m2_l a,li.m3_l a,li.m_4 a,li.m_l_over a,li.m2_l_over a,li.m3_l_over a,li.m_4_over a  {
	border: 1px solid #fff;
	background-color: #6197ED;
	border-bottom: 0;
}
li.m2_l a:hover,li.m3_l a:hover,li.m_4 :hovera,li.m_l_over a:hover,li.m2_l_over a:hover,li.m3_l_over a:hover,li.m_4_over a:hover  {
	background-color: #165ECF;
	border-bottom: 0px;
}

/* Fix IE. Hide from IE Mac \*/
* html #left-menu  ul li { float: left; height: 1%; }
* html #left-menu  ul li a { height: 1%; }
/* End */

#left-menu #left-current{
border-top: 1px solid #fff;
border-bottom: 1px solid #fff;
}
li.m2_l  #left-current, .m2_l_over   #left-current{
	background-color: #165ECF;
	border-bottom: 0;
}
